
Color {
    color: rgb(22, 168, 22)
    rgb(1, 10, 1)
    rgb(40, 43, 40)
}

.green{
    color: rgb(22, 168, 22);
}

body{
    background-color: rgb(30, 39, 28);
    color: white;
	font-family: sans-serif;
}
.title h2{
    margin-top: 10%;
}


/* header */
header{
    background: rgb(40, 43, 40);
    color: white;
}
    .header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header a{
        /* こっちは下線 */
        text-decoration: none;
        color: aliceblue;
    }
    .header h1 {
        /* 左に揃えたい場合は右の余白をautoで設定する */
        margin-right: auto;
        font-size: 1.8rem;
        margin-left: 1.0rem;
    }
    .header ul {
        /* これがないと１段目のみでflexboxを行うためul以下が縦並びになってしまう */
        display: flex;
        margin-right: 1.0rem;
    }
    .header li {
        margin-left: 3rem;
        /* こっちは・を消す */
        list-style-type: none;
        padding: 1rem;
    }
    .header li :hover {
        /* ホバー時に背景を明るく */
        background-color:rgb(22, 168, 22);
        padding: 1rem;
        border-radius: 4px;
    }

/* main */
main{
    width:100%;
    height:400px;
    background: rgb(1, 10, 1);
    color: white;
    position: relative;
}
    main .text{
        position: absolute;
        top: 30%;
        right: 23%;
        text-align: center;
    }
    main h2{
        font-size: 4rem;
    }
    main p{
        font-size: 2rem;
    }
    main .green{
        color: rgb(22, 168, 22);
    }

/* about */
.about{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;
}
    .about ul{
        list-style-type: none;
    }
    .about .left{
        max-width: 45%;
        float: left;
        margin: 5%;
        text-align: start;
    }
    .about .right{
        max-width: 45%;
        float: left;
        margin: 8% 1% 5% 1%;
        text-align: center;
        font-size: 1.3rem;
    }
    #skill{
        animation-duration: 1.5s;
        animation-delay: 3s;
    }
    .gray{
        background-color: gray;
        margin: 10px 0;
        width: 330px;
        font-size: 1rem;
    }
    .bgGreen{
        background-color:rgba(22, 168, 22, 0.9);
        text-align: center;
    }

/* personality */
.personality{
    text-align: center;
    margin-top: 5%;
    padding-bottom: 5%;
    overflow: hidden;
    background: rgb(1, 10, 1)
}
.personality .merit{
    width: 65%;
    margin: 0 auto;
}
.personality h3{
    margin-top: 6%;
    margin-bottom: 1%;
    font-size: 1.5rem;
    color: rgb(22, 168, 22);
}
.personality h4{
    margin-top: 10%;
    font-size: 1.5rem;
}

/*  Portfolio  */
.portfolio{
    text-align: center;
    overflow: hidden;
    min-height: 400px;
    background: rgb(22, 168, 22);
    padding-bottom: 50px;
}

/*  footer  */
footer{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;
    background: rgb(40, 43, 40);
    text-decoration: none;
}
footer .contact{
    text-align: center;
    font-size: 2.5rem;
    margin: 10%;
}
footer .contact .title{
    font-size: 2rem;
}
#social-icon{
    margin: 0 25% 2% 25%;
}
#social-icon a {
    position: relative;
    display: block;
    float: left;
    width:100px;
    margin: 0 10px 10px 0;
    padding: 0 0 0 40px;
    background: rgb(22, 168, 22);
    color: #fff;
    text-decoration: none;
    text-align:center;
    line-height: 40px;
  }
  #social-icon i {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    background:  rgb(22, 168, 22);
    line-height: 40px;
    text-align: center;
  }
  #social-icon i:before {
      padding: 0px;
      line-height:40px ;}
  #social-icon a:hover i {
      background:  rgb(22, 168, 22);
    }
  .clear{
      overflow: hidden;
  }
  .copyright a{
      text-decoration: none;
      color: #fff;
  }
  .copyright a:hover{
    text-decoration: underline;
    color: #fff;
  }